@using RebelTours.Management.Application
@model CityDTO

<h1 class="pb-3 mb-3 border-bottom">
    Şehir Ekle
</h1>

@if (ViewBag.CommandResult != null)
{
    var result = (CommandResult)ViewBag.CommandResult;

    <div class="row">
        <div class="col-12 col-sm-8 col-md-6">
            <div class="alert @(result.IsSucceeded ? "alert-success" : "alert-danger")">
                @(result.Messages.Any() ? result.Messages.First() : "Hata")
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-12 col-sm-8 col-md-6">
        @*<form method="post" action="/City/Create">*@
        <form method="post" asp-action="Create" asp-controller="City">
            <div class="mb-3">
                <label asp-for="Name">Şehir Adı</label>
                <input type="text" asp-for="Name" class="form-control" autocomplete="off" />
                @*<input type="text" id="Name" name="Name" value="@Model.Name" class="" />*@
            </div>

            <!--<div class="mb-3">-->
            @*<label for="name">Şehir Adı</label>*@
            <!--@Html.LabelFor(m => m.Name, "Şehir Adı")-->
            @*<input type="text" id="name" name="name" class="form-control" />*@
            @* HTML Helper kullanarak input alanları oluşturulabilir *@
            <!--@Html.TextBoxFor(m => m.Name, new { @class = "form-control", style = "border-color: blue;"})-->
            @*<input type="text" id="Name" name="Name" class="form-control" style="border-color: blue;" />*@
            <!--</div>-->
            <div class="float-right">

                <button type="submit" class="btn btn-primary">
                    Kaydet
                </button>
                <a class="btn btn-secondary" asp-controller="City" asp-action="Index">
                    İptal
                </a>
            </div>
        </form>
    </div>
</div>

@*<div class="row">
        <div class="col-12 col-sm-8 col-md-6">
            <form method="post" action="/City/Create">
                <div class="mb-3">
                    <label for="name">Şehir Adı</label>
                    <input type="text" id="name" name="name" class="form-control" />
                </div>
                <div class="float-right">
                    <button type="submit" class="btn btn-primary">
                        Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>*@