@using RebelTours.Management.Application
@model CityDTO

@if (ViewBag.CommandResult != null)
{
    var result = (CommandResult)ViewBag.CommandResult;

    <div class="row">
        <div class="col-12 col-sm-8 col-md-6">
            <div class="alert @(result.IsSucceeded ? "alert-success" : "alert-danger")">
                @(result.Messages.Any() ? result.Messages.First() : "Hata")
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-12 col-md-8">

        <form method="post" asp-action="Update" asp-controller="City">
            <div class="mb-3">
                <input type="hidden" asp-for="Id" />
                <label class="form-label" for="name">Şehir Adı</label>
                <input type="text" id="name" name="name" class="form-control" value="@Model.Name" />
            </div>
            <div class="float-right">
                <button class="btn btn-primary" type="submit">Kaydet</button>
            </div>
        </form>
    </div>
</div>

