@model BusModelDTO

<h1 class="p-3 mb-3 border-bottom">
    Model Sil
</h1>

<div class="row">
    <div class="col-12 col-md-8 col-sm-6">
        <div class="alert alert-warning">
            Dikkat! Onayladığınızda bu kayıt silinecek
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-8 col-sm-6">
        <form method="post" asp-action="Delete" asp-controller="BusModel">
            <input type="hidden" asp-for="Id" />

            <div class="mb-3">
                <label>Id</label>
                <div class="form-control" autocomplete="off">
                    @Model.Id
                </div>
            </div>
            <div class="mb-3">
                <label>Model Adı</label>
                <div class="form-control" autocomplete="off">
                    @Model.Name
                </div>
            </div>

            <div class="float-right">

                <button type="submit" class="btn btn-warning">
                    Onayla
                </button>
                <a class="btn btn-success" asp-controller="BusModel" asp-action="Index">
                    İptal
                </a>
            </div>
        </form>
    </div>
</div>
