@model BusManufacturerDTO
<div class="row">
    @if (ViewBag.ErrorMessage != null)
    {
        <div class="col-12 col-md-8">
            <div class="alert-danger">@ViewBag.ErrorMessage</div>
        </div>
    }

    <div class="col-12 col-md-8">

        <form method="post" asp-action="Update" asp-controller="BusManufacturer">
            <div class="mb-3">
                <input type="hidden" asp-for="Id" />
                <label class="form-label" for="name">Marka Adı</label>
                <input type="text" id="name" name="name" class="form-control" value="@Model.Name" />
            </div>
            <div class="float-right">
                <button class="btn btn-primary" type="submit">Kaydet</button>
            </div>
        </form>
    </div>
</div>

